.topics-main{
    margin-top: 100px;
    height: 95%;

}
.search-bar{
    margin-top: 150px;
    position: sticky;
    bottom: 20px;
    height: 5%;
}

// .topic-items{
//     // height: 50vh;
//     // overflow-y: auto;
// }


