.menu-option{
    background-color: black;
    height: var(--menu-height);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: mogra;
    & p{
        font-size: 10px;
        display: flex;
        align-items: center;
    }
    & h1{
        font-size: 20px;
    }
    & h2{
        font-size: 20px;
    }
    &:hover{
        color: rgb(0, 247, 255);
        cursor: pointer;
    }
}