@font-face {
    font-family: 'JejuHallasan';
      src:  url('../../fonts/webfonts_JejuHallasan/JejuHallasan.ttf.woff') format('woff'),
      url('../../fonts/webfonts_JejuHallasan/JejuHallasan.ttf.svg#JejuHallasan') format('svg'),
      url('../../fonts/webfonts_JejuHallasan/JejuHallasan.ttf.eot'),
      url('../../fonts/webfonts_JejuHallasan/JejuHallasan.eot?#iefix') format('embedded-opentype'); 
      font-weight: normal;
      font-style: normal;
}
.no-topics{
    background-color: #FDE90D;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: JejuHallasan;
    border-radius: 100px;
}