#root{
    // background-color: #070026;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
//Kadwa
@font-face {
    font-family: 'kadwa';
    src:  url('./fonts/Inter\,Kadwa\,Poppins/kadwa/Kadwa-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mogra';
    src:  url('./fonts/Mogra/Mogra-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay';
    src:  url('./fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rubix';
    src:  url('./fonts/Rubik/Rubik-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'JejuHallasan';
      src:  url('./fonts/webfonts_JejuHallasan/JejuHallasan.ttf.woff') format('woff'),
      url('./fonts/webfonts_JejuHallasan/JejuHallasan.ttf.svg#JejuHallasan') format('svg'),
      url('./fonts/webfonts_JejuHallasan/JejuHallasan.ttf.eot'),
      url('./fonts/webfonts_JejuHallasan/JejuHallasan.eot?#iefix') format('embedded-opentype'); 
      font-weight: normal;
      font-style: normal;
}

.main-scrollbar{
    &::-webkit-scrollbar {
        width: 10px; /* Width of the scrollbar */
    }
    &::-webkit-scrollbar-thumb {
        background-color: #ac00fc; /* Scrollbar color */
        border-radius: 10px; /* Scrollbar thumb radius */
        border: 0px solid #fff; /* Space around scrollbar thumb */
    }
    
    &::-webkit-scrollbar-track {
        background-color: #ffffff00; /* Scrollbar track color */
        border-radius: 10px; /* Scrollbar track radius */
    }
    
}